In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import TimestampType
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/08/13 18:31:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/08/13 18:31:31 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/08/13 18:31:31 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/08/13 18:31:31 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/08/13 18:31:31 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [2]:

# 4
olist_order_payments_dataset = spark.read.options(header='True', inferSchema='True', delimiter=',') \
                            .csv("data/olist_order_payments_dataset.csv")
# 6
olist_orders_dataset = spark.read.options(header='True', inferSchema='True', delimiter=',') \
                            .csv("data/olist_orders_dataset.csv")

In [3]:
payments = olist_order_payments_dataset.select(col("order_id").alias("order_id_2"), "payment_value")
payments.show()

+--------------------+-------------+
|          order_id_2|payment_value|
+--------------------+-------------+
|b81ef226f3fe1789b...|        99.33|
|a9810da82917af2d9...|        24.39|
|25e8ea4e93396b6fa...|        65.71|
|ba78997921bbcdc13...|       107.78|
|42fdf880ba16b47b5...|       128.45|
|298fcdf1f73eb413e...|        96.12|
|771ee386b001f0620...|        81.16|
|3d7239c394a212faa...|        51.84|
|1f78449c87a54faf9...|       341.09|
|0573b5e23cbd79800...|        51.95|
|d88e0d5fa41661ce0...|       188.73|
|2480f727e869fdeb3...|        141.9|
|616105c9352a9668c...|        75.78|
|cf95215a722f3ebf2...|       102.66|
|769214176682788a9...|       105.28|
|12e5cfe0e4716b59a...|       157.45|
|61059985a6fc0ad64...|       132.04|
|79da3f5fe31ad1e45...|        98.94|
|8ac09207f415d55ac...|       244.15|
|b2349a3f20dfbeef6...|       136.71|
+--------------------+-------------+
only showing top 20 rows

In [4]:
olist_orders_dataset.show()

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
|a4591c265e18cb1dc...|503740e9ca751ccdd...|   delivered|     2017-07-09 21:57:05|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|
|136cce7faa42fdb2c...|ed0271e0b7da060a3...|    invoiced|     2017-04-11 12:22:08|2017-04-13 13:25:17|                        null|                         null|          2017-05-09 00:00:00|
|6514b8ad8028c9f2c...|9bdf08b4b3b52b552...|   delivered|     2017-05-16 13:10:30|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|
|76c6e866289321a7c...|f54a9f0e6b351c431...|   delivered|     2017-01-23 18:29:09|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|          2017-03-06 00:00:00|
|e69bfb5eb88e0ed6a...|31ad1d1b63eb99624...|   delivered|     2017-07-29 11:55:02|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|
|e6ce16cb79ec1d90b...|494dded5b201313c6...|   delivered|     2017-05-16 19:41:10|2017-05-16 19:50:18|         2017-05-18 11:40:40|          2017-05-29 11:18:31|          2017-06-07 00:00:00|
|34513ce0c4fab462a...|7711cf624183d843a...|   delivered|     2017-07-13 19:58:11|2017-07-13 20:10:08|         2017-07-14 18:43:29|          2017-07-19 14:04:48|          2017-08-08 00:00:00|
|82566a660a982b15f...|d3e3b74c766bc6214...|   delivered|     2018-06-07 10:06:19|2018-06-09 03:13:12|         2018-06-11 13:29:00|          2018-06-19 12:05:52|          2018-07-18 00:00:00|
|5ff96c15d0b717ac6...|19402a48fe860416a...|   delivered|     2018-07-25 17:44:10|2018-07-25 17:55:14|         2018-07-26 13:16:00|          2018-07-30 15:52:25|          2018-08-08 00:00:00|
|432aaf21d85167c2c...|3df704f53d3f1d481...|   delivered|     2018-03-01 14:14:28|2018-03-01 15:10:47|         2018-03-02 21:09:20|          2018-03-12 23:36:26|          2018-03-21 00:00:00|
|dcb36b511fcac050b...|3b6828a50ffe54694...|   delivered|     2018-06-07 19:03:12|2018-06-12 23:31:02|         2018-06-11 14:54:00|          2018-06-21 15:34:32|          2018-07-04 00:00:00|
|403b97836b0c04a62...|738b086814c6fcc74...|   delivered|     2018-01-02 19:00:43|2018-01-02 19:09:04|         2018-01-03 18:19:09|          2018-01-20 01:38:59|          2018-02-06 00:00:00|
|116f0b09343b49556...|3187789bec9909876...|   delivered|     2017-12-26 23:41:31|2017-12-26 23:50:22|         2017-12-28 18:33:05|          2018-01-08 22:36:36|          2018-01-29 00:00:00|
|85ce859fd6dc634de...|059f7fc5719c7da6c...|   delivered|     2017-11-21 00:03:41|2017-11-21 00:14:22|         2017-11-23 21:32:26|          2017-11-27 18:28:00|          2017-12-11 00:00:00|
|83018ec114eee8641...|7f8c8b9c2ae27bf33...|   delivered|     2017-10-26 15:54:26|2017-10-26 16:08:14|         2017-10-26 21:46:53|          2017-11-08 22:22:00|          2017-11-23 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 20 rows

In [5]:
join_table = payments.join(olist_orders_dataset, payments.order_id_2==olist_orders_dataset.order_id, "Inner")
join_table = join_table.select("order_id","payment_value","customer_id", "order_purchase_timestamp")
join_table = join_table.withColumn('order_purchase_timestamp',to_date(unix_timestamp \
            (join_table.order_purchase_timestamp, 'yyyy-MM-dd HH:mm:ss').cast('timestamp')))
join_table.show()

+--------------------+-------------+--------------------+------------------------+
|            order_id|payment_value|         customer_id|order_purchase_timestamp|
+--------------------+-------------+--------------------+------------------------+
|e481f51cbdc54678b...|        18.59|9ef432eb625129730...|              2017-10-02|
|e481f51cbdc54678b...|          2.0|9ef432eb625129730...|              2017-10-02|
|e481f51cbdc54678b...|        18.12|9ef432eb625129730...|              2017-10-02|
|53cdb2fc8bc7dce0b...|       141.46|b0830fb4747a6c6d2...|              2018-07-24|
|47770eb9100c2d0c4...|       179.12|41ce2a54c0b03bf34...|              2018-08-08|
|949d5b44dbf5de918...|         72.2|f88197465ea7920ad...|              2017-11-18|
|ad21c59c0840e6cb8...|        28.62|8ab97904e6daea886...|              2018-02-13|
|a4591c265e18cb1dc...|       175.26|503740e9ca751ccdd...|              2017-07-09|
|136cce7faa42fdb2c...|        65.95|ed0271e0b7da060a3...|              2017-04-11|
|6514b8ad8028c9f2c...|        75.16|9bdf08b4b3b52b552...|              2017-05-16|
|76c6e866289321a7c...|        35.95|f54a9f0e6b351c431...|              2017-01-23|
|e69bfb5eb88e0ed6a...|         8.34|31ad1d1b63eb99624...|              2017-07-29|
|e69bfb5eb88e0ed6a...|       161.42|31ad1d1b63eb99624...|              2017-07-29|
|e6ce16cb79ec1d90b...|       259.06|494dded5b201313c6...|              2017-05-16|
|34513ce0c4fab462a...|       114.13|7711cf624183d843a...|              2017-07-13|
|82566a660a982b15f...|        50.13|d3e3b74c766bc6214...|              2018-06-07|
|5ff96c15d0b717ac6...|         32.7|19402a48fe860416a...|              2018-07-25|
|432aaf21d85167c2c...|        54.36|3df704f53d3f1d481...|              2018-03-01|
|dcb36b511fcac050b...|       146.45|3b6828a50ffe54694...|              2018-06-07|
|403b97836b0c04a62...|      1376.45|738b086814c6fcc74...|              2018-01-02|
+--------------------+-------------+--------------------+------------------------+
only showing top 20 rows

In [6]:
join_table.createOrReplaceTempView("join_table")

#### 3)	Find maximum spending customers for every month of last year.

What mean last year when the newest data is from 2018?   
Last year of existing data?

In [7]:
spark.sql("""
            SELECT
            max(order_purchase_timestamp)
            FROM join_table
            """).show()

+-----------------------------+
|max(order_purchase_timestamp)|
+-----------------------------+
|                   2018-10-17|
+-----------------------------+

In [8]:
join_table.dtypes

[('order_id', 'string'),
 ('payment_value', 'double'),
 ('customer_id', 'string'),
 ('order_purchase_timestamp', 'date')]

#### Result without filtering for the last year (to be added if necessary)

In [9]:
df = spark.sql("""WITH max_payment AS (
               SELECT
               customer_id,
               EXTRACT(month from `order_purchase_timestamp`) AS month,
               EXTRACT(year from `order_purchase_timestamp`) AS year,
               MAX(payment_value) AS max_cash
               FROM join_table
               GROUP BY customer_id, month, year
               ORDER BY year, month
               )
               SELECT customer_id, month, year, max_cash
               FROM (SELECT 
               *,
               ROW_NUMBER() OVER(PARTITION BY year, month  ORDER BY max_cash DESC) AS row_number
               FROM max_payment)
               WHERE row_number = 1
               
               """)
df.show(50)

+--------------------+-----+----+--------+
|         customer_id|month|year|max_cash|
+--------------------+-----+----+--------+
|08c5351a6aca1c158...|    9|2016|  136.23|
|a9dc96b027d1252bb...|   10|2016| 1423.55|
|0975c3cf2e418ebfa...|   12|2016|   19.62|
|101c8d91278c4de90...|    1|2017| 3016.01|
|c6e2731c5b391845f...|    2|2017| 6929.31|
|c6695e3b1e48680db...|    3|2017| 4016.91|
|df55c14d1476a9a34...|    4|2017| 4950.34|
|3fd6777bbce08a352...|    5|2017| 6726.66|
|4312e816d88fa8bdb...|    6|2017| 3048.27|
|8dd4c93bfbebe2a77...|    7|2017| 3041.73|
|6361b9f3b85d41860...|    8|2017| 2480.58|
|1617b1357756262bf...|    9|2017|13664.08|
|10a86619816f9d2af...|   10|2017|  3126.5|
|05455dfa7cd02f13d...|   11|2017| 6081.54|
|08dc68ad9ab343289...|   12|2017| 2734.66|
|addc91fdf9c2b3045...|    1|2018|  3826.8|
|0b16ce67087d02bf8...|    2|2018| 3358.24|
|35a413c7ca3c69756...|    3|2018| 4175.26|
|e7c905bf4bb13543e...|    4|2018| 3526.46|
|cc803a2c412833101...|    5|2018|  4445.5|
|3d979689f636322c6...|    6|2018| 4681.78|
|ec5b2ba62e5743423...|    7|2018| 7274.88|
|1afc82cd60e303ef0...|    8|2018| 4513.32|
|36b182c39933d55e3...|    9|2018| 2266.61|
|856336203359aa6a6...|   10|2018|  222.03|
+--------------------+-----+----+--------+