In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/08/12 11:23:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/08/12 11:23:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
# df = spark.read.options(delimiter=',').option("header",True).csv("data/olist_customers_dataset.csv")
df = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("data/olist_order_payments_dataset.csv")

In [9]:
df.show()

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|
|771ee386b001f0620...|                 1| credit_card|                   1|        81.16|
|3d7239c394a212faa...|                 1| credit_card|                   3|        51.84|
|1f78449c87a54faf9...|                 1| credit_card|                   6|       341.09|
|0573b5e23cbd79800...|                 1|      boleto|                   1|        51.95|
|d88e0d5fa41661ce0...|                 1| credit_card|                   8|       188.73|
|2480f727e869fdeb3...|                 1| credit_card|                   1|        141.9|
|616105c9352a9668c...|                 1| credit_card|                   1|        75.78|
|cf95215a722f3ebf2...|                 1| credit_card|                   5|       102.66|
|769214176682788a9...|                 1| credit_card|                   4|       105.28|
|12e5cfe0e4716b59a...|                 1| credit_card|                  10|       157.45|
|61059985a6fc0ad64...|                 1| credit_card|                   1|       132.04|
|79da3f5fe31ad1e45...|                 1| credit_card|                   1|        98.94|
|8ac09207f415d55ac...|                 1| credit_card|                   4|       244.15|
|b2349a3f20dfbeef6...|                 1| credit_card|                   3|       136.71|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 20 rows

In [10]:
x = "test"